<div class="contents container clearfix" >
  <div class="left_content">
    <% if user_signed_in?%>
      <div class="user_background">
        <%= image_tag current_user.background_image,class:"user_background" %>
      </div>
      <div class="user_info clearfix">
        
        <%= image_tag current_user.avatar, class:"user_avatar" %>
        
        <%= link_to 'プロフィールの編集', edit_user_registration_path, class:"profile_edit" %>
      </div>
      <div class="user_profile">
          <h2><a href=""><%= current_user.nickname %></a></h2>
          <div class="user_profile_text">
            <%= current_user.profile_text %>
          </div>
      </div>
    <% end %>
  </div>

  <div class="right_content">
    <%= render partial: "shared/article" , locals: { article: @article }%>
    

  </div>
  
</div>


