<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="discription" content="">
    <meta name="Viewport" content="widht=device-width,initial-scale=1">
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <title>BlogTemp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header clearfix">
      <div class="container" class="clearfix">
        <%= link_to 'Logo', root_path, method: :get, class: "logo"%>
        <ul class="clearfix">
        <% if user_signed_in? %>
          <li><%= link_to "#{current_user.nickname}","/users/#{current_user.id}",class:"header_link_text" %></li>
          <li><i class="fas fa-pen"></i><%= link_to ' 投稿', new_article_path, method: :get, class: "header_link_text" %></li>
          <li><%= link_to 'ログアウト', "/users/sign_out", method: :delete, class: "header_link_text" %></li>
        <% else%>
          <li><i class="fas fa-pen"></i><%= link_to ' 投稿', new_article_path, method: :get, class: "header_link_text" %></li>
          <li><%= link_to 'ログイン', "/users/sign_in", method: :get, class: "header_link_text" %></li>
        <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <div class="container">
        <p>&copy:mylevel</p>
      </div>
    </footer>
  </body>
</html>
